/* Estilos básicos para la estructura */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: green;
}

.inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#commandInput{
    width: 50px;
    background-color: black;
    border: none;
    color: green;
    font-size: 1rem;
}

#accountInput{
    background-color: black;
    border: none;
    color: green;
    font-size: 1rem;
}

#cardNumberInput{
    background-color: black;
    border: none;
    color: green;
    font-size: 1rem;
}

.command-container, .org-container, .account-info-container, .account-details-container {
    background-color: black;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.ariq2Button{
    background-color: black;
    width: 80px;
    height: 60px;
    font-size: 1rem;
    color: green;
    border: 2px solid  white;
}

.arsd3Button{
    background-color: black;
    width: 80px;
    height: 60px;
    color: green;
    font-size: 1rem;
    border: 2px solid  white;
}

label {
    display: block;
    margin: 10px 0;
}

p {
    margin: 5px 0;
}

.account-details-input{
    width: 25px;
}

.statement{
    display: flex;
    gap: 50px;
}

.account-statement-container{
    display: flex;
}


/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    body {
        height: auto; /* Permitir que la altura crezca si es necesario */
        padding: 5px;
    }

    .inicio {
        justify-content: flex-start; /* Ajustar el contenido para que no se desplace demasiado */
        align-items: center;
    }

    #commandInput, #accountInput, #cardNumberInput {
        width: 80px; /* Mantener un tamaño manejable, pero lo suficientemente amplio para usar en móvil */
        font-size: 1rem; /* Mantener el tamaño de fuente para consistencia */
    }

    .command-container, .org-container, .account-info-container, .account-details-container {
        padding: 15px; /* Reducir un poco el padding */
        margin: 5px; /* Menos margen para que no se junten tanto los contenedores */
    }

    .ariq2Button, .arsd3Button {
        width: 80px; /* Mantener el tamaño para consistencia */
        height: 60px;
        font-size: 1rem;
    }

    .statement {
        flex-direction: row; /* Mantenerlo en fila, pero puedes hacer que se ajuste el gap */
        gap: 20px; /* Reducir el gap para que no quede tanto espacio entre ellos */
    }

    .account-details-input {
        width: 25px; /* Mantener el tamaño para evitar que se estire demasiado */
    }

    .account-statement-container {
        flex-direction: row; /* Mantener el diseño en fila */
    }
}
